@import url('https://fonts.googleapis.com/ css?family=Poppins : 200, 300, 400, 500, 600, 700, 800,900&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}
 section {
     position: relative;
     width: 100%;
     min-height: 100vh;
     padding: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: #09054d;
}

section .circle {
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    background: #231c9f;
    clip-path: circle(70% at right -20%);
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.content .textBox h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

.content .textBox P {
    color: #fff;
}
.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding:8px 20px;
    background: #cebe21; 
    color: black;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.sci {
     position: absolute;
     bottom: 40px;
     Left: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .sci li {
     List-style: none;
}
 .sci li a {
     display: inline-block;
     margin-left: 15px;
     background: #222;
     width: 50px;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     transition: 0.2s ease-in-out;
}

.sci li a:hover {
    background: #e51e2a;
    transform: translateY(-10px);
}
.sci li a img {
    filter: invert(1);
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 500px;
    display: flex;
    justify-content: center;
}
.swiper-slide .content .imgBox {
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

.content .imgBox img {
    max-width: 300px;
}
.swiper-slide img {
    position: absolute;
    bottom: 0;
    min-height: 100%;
}

.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top, .swiper-3d .swiper-wrapper {
    background-image: none;
    max-width: 500px;

}
