/* order */
#output {
    background-color: #c5edf3;
    color: #394546;
    font-size: 17px;
    padding: 30px 30px;
    width: 40%;
    border: 2px solid #009688;
    font-family: sans-serif;
    line-height: 1.8;
}
#newPublish {
    background-color: #c5edf3;
    color: #463c39;
    font-size: 17px;
    padding: 30px 30px;
    width: 40%;
    border: 2px solid #009688;
    font-family: sans-serif;
    line-height: 1.8;
}
.box {
    background-color: #f7f7f7;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 40px 60px;
}
#details_info {
    background-color: #f7f7f7;
    color: #463c39;
    font-size: 17px;
    padding: 30px 30px;
    width: 40%;
    border: 1px solid #cccccc;
    font-family: sans-serif;
    line-height: 1.8;
    margin-left: 90px;
}
.box3 {
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 60px;
    padding: 40px 50px;
    background-color: gainsboro;
}
.box11 {
    margin-top: 80px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 60px;
    padding: 40px 50px;
    background-color: gainsboro;
    line-height: 2.5;
}
.web_design_box {
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 60px;
    padding: 40px 50px;
    background-color: #d9edf7;
    box-shadow: 3px 5px 10px #318f86;
}
.hotel_reserve_box {
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 60px;
    padding: 40px 50px;
    background-color: #c6badc;
    box-shadow: 3px 5px 10px #7527b0;
}
.online_food_delivery_box {
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 60px;
    padding: 20px 40px;
    background-color: #8984e8;
    box-shadow: 3px 5px 10px #714c4a;
}
.result_box {
    margin-top: 15%;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 60px;
    padding: 20px 40px;
    background-color: #d4c0b9;
    box-shadow: 3px 5px 10px #8BC34A;
}
.result_box_text {
    color: #232222;
    font-size: 20px;
    text-align: center;
    padding-top:10px;
}
.result_box_text span {
    color: #614136;
    font-size: 26px;
    text-align: center;
}


/* About Us */

.row ul {
    padding: 150px!important;

}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Playfair Display', serif;
    display: initial;
    align-content: center;
    min-height: 100vh;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    width: 75vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px
}
.image{
    background-color: #09054d;
    display: flex;
    border-radius: 12px 0 0 12px;
}
.image img{
height:50vh;
margin:50px auto
}
.content{
    background-color: #09054d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0  12px 12px 0;
    color: #fff;
}
.content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content h4{
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content h5{
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 5px;
    opacity: 0.9;
}
.content span{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}
.content p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    color:#ffffff
}


/*****************/

@media(max-width: 900px){
    section{
        grid-template-columns: 1fr;
        width: 100%;
        border-radius: none;
    }
    .image{
        height: 100vh;
        border-radius: none;
    }
    .content{
        height: 100vh;
        border-radius: none;
    }
    .content h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .content span{
        margin: 20px 0;
    }
    .content p{
        font-size: 14px;
    }
}


/* Services */

body {
    background:#000000 !important;
   }
   
   /*
   
   */
   
   h3 {
     color: #0d0862;
   }
   .text{
       color: #090575;
       text-align: center;
   }
   
   
   .folded-corner:hover .text{
       visibility: visible;
       color: #09054d;
   }
   .Services-tab{
       margin-top:20px;
       
   
   }
   
   /*
     nav link items
   */
   .folded-corner{
     padding: 25px 25px;
     position: relative;
     font-size: 90%;
     text-decoration: none;
     color: #999; 
     background: transparent;
     transition: all ease .5s;
     border: 1px solid #8984e8;
   }
   .folded-corner:hover{
       background-color: #8984e8;
   }
   
   /*
     paper fold corner
   */
   
   .folded-corner:before {
     content: "";
     position: absolute;
     top: 0;
     right: 0;
     border-style: solid;
     border-width: 0 0px 0px 0;
     border-color: #ddd #090575;
     transition: all ease .3s;
   }
   
   /*
     on li hover make paper fold larger
   */
   .folded-corner:hover:before {
     background-color: #D00003;
     border-width: 0 50px 50px 0;
     border-color: #eee #000;
     
   }
   
   .service_tab_1{
       background-color: rgb(247, 241, 241);
   }
   .service_tab_1:hover .fa-icon-image{
       color: #090575;
       transform: rotate(360deg) scale(1.5);
   }
   
   
   .fa-icon-image{
       color: #090575;
       display: inline-block;
       font-style: normal;
       font-variant: normal;
       font-weight: normal;
       line-height: 1;
       font-size-adjust: none;
       font-stretch: normal;
       -moz-font-feature-settings: normal;
       -moz-font-language-override: normal;
       text-rendering: auto;
       transition: all .65s linear 0s;
       text-align: center;
       transition: all 1s cubic-bezier(.99,.82,.11,1.41);
   }
   
   